### Using Python's SQLite3 library

In [ ]:
# !pip install pandas sqlite3 ipython-sql jupyter

In [3]:
import sqlite3
import pandas as pd

# Print SQLite version to ensure it's working
# print(f"SQLite version: {sqlite3.sqlite_version}")

# Load CSV into DataFrame
df = pd.read_csv("../data/students.csv")

# Create SQLite Database
conn = sqlite3.connect("../data/students.csv")
df.to_sql("students", conn, if_exists="replace", index=False)
# conn.close()
print("Data loaded into SQLite database successfully.")

Data loaded into SQLite database successfully.

In [4]:
# Write and Execute SQL Query
# query = "SELECT * FROM students;"

query = """
SELECT stay,
       COUNT(*) AS count_int,
       ROUND(AVG(todep), 2) AS average_phq,
       ROUND(AVG(tosc), 2) AS average_scs,
       ROUND(AVG(toas), 2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;
"""

# Set display options to show all rows
# pd.set_option('display.max_rows', None)

# Execute the query and fetch results into a DataFrame
pd.read_sql_query(query, conn)

   stay  count_int  average_phq  average_scs  average_as
0  10.0          1        13.00        32.00       50.00
1   8.0          1        10.00        44.00       65.00
2   7.0          1         4.00        48.00       45.00
3   6.0          3         6.00        38.00       58.67
4   5.0          1         0.00        34.00       91.00
5   4.0         14         8.57        33.93       87.71
6   3.0         46         9.09        37.13       78.00
7   2.0         39         8.28        37.08       77.67
8   1.0         95         7.48        38.11       72.80

In [5]:
conn.close()

### Using SQLAlchemy

In [ ]:
# !pip install sqlalchemy

In [7]:
from sqlalchemy import create_engine

# Create SQLite connection
engine = create_engine("sqlite:///../data/students.db")

query = """
SELECT stay,
       COUNT(*) AS count_int,
       ROUND(AVG(todep), 2) AS average_phq,
       ROUND(AVG(tosc), 2) AS average_scs,
       ROUND(AVG(toas), 2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;
"""

pd.read_sql_query(query, engine)

   stay  count_int  average_phq  average_scs  average_as
0  10.0          1        13.00        32.00       50.00
1   8.0          1        10.00        44.00       65.00
2   7.0          1         4.00        48.00       45.00
3   6.0          3         6.00        38.00       58.67
4   5.0          1         0.00        34.00       91.00
5   4.0         14         8.57        33.93       87.71
6   3.0         46         9.09        37.13       78.00
7   2.0         39         8.28        37.08       77.67
8   1.0         95         7.48        38.11       72.80

### Using %%sql magic

In [ ]:
### DOES NOT WORK IN JUPYTER NOTEBOOK

# # Load the SQL extension
# %load_ext sql
# # Connect to the database
# %sql sqlite:///students.db


# %%sql
# -- Run this code to view the data in students
# SELECT * FROM students;


# %%sql
# -- Start coding here...
# SELECT stay,
#        COUNT(*) AS count_int,
#        ROUND(AVG(todep), 2) AS average_phq,
#        ROUND(AVG(tosc), 2) AS average_scs,
#        ROUND(AVG(toas), 2) AS average_as
# FROM students
# WHERE inter_dom = 'Inter'
# GROUP BY stay
# ORDER BY stay DESC;