### Using Python's SQLite3 library

In [ ]:
# !pip install pandas sqlite3 ipython-sql jupyter

In [ ]:
import sqlite3
import pandas as pd

# Print SQLite version to ensure it's working
# print(f"SQLite version: {sqlite3.sqlite_version}")

# Load CSV into DataFrame
csv_file = "students.csv"
df = pd.read_csv(csv_file)

# Create SQLite Database
conn = sqlite3.connect("students.db")
df.to_sql("students", conn, if_exists="replace", index=False)
# conn.close()
print("Data loaded into SQLite database successfully.")

In [ ]:
# Write and Execute SQL Query
query = "SELECT * FROM students;"

# Set display options to show all rows
pd.set_option('display.max_rows', None)
# Execute the query and fetch results into a DataFrame
pd.read_sql_query(query, conn)

In [ ]:
query = """
SELECT stay,
       COUNT(*) AS count_int,
       ROUND(AVG(todep), 2) AS average_phq,
       ROUND(AVG(tosc), 2) AS average_scs,
       ROUND(AVG(toas), 2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;
"""

pd.read_sql_query(query, conn)

In [55]:
conn.close()

### Using SQLAlchemy

In [ ]:
# !pip install sqlalchemy

In [56]:
from sqlalchemy import create_engine

# Create SQLite connection
engine = create_engine("sqlite:///students.db")

In [ ]:
query = """
SELECT stay,
       COUNT(*) AS count_int,
       ROUND(AVG(todep), 2) AS average_phq,
       ROUND(AVG(tosc), 2) AS average_scs,
       ROUND(AVG(toas), 2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;
"""

pd.read_sql_query(query, engine)

### Using %%sql magic

In [ ]:
### DOES NOT WORK IN JUPYTER NOTEBOOK

# # Load the SQL extension
# %load_ext sql
# # Connect to the database
# %sql sqlite:///students.db


# %%sql
# -- Run this code to view the data in students
# SELECT * FROM students;


# %%sql
# -- Start coding here...
# SELECT stay,
#        COUNT(*) AS count_int,
#        ROUND(AVG(todep), 2) AS average_phq,
#        ROUND(AVG(tosc), 2) AS average_scs,
#        ROUND(AVG(toas), 2) AS average_as
# FROM students
# WHERE inter_dom = 'Inter'
# GROUP BY stay
# ORDER BY stay DESC;